[submodule "src/CLI/CondylesFeaturesExtractor"]
	path = src/CLI/CondylesFeaturesExtractor
	url = git@github.com:pdedumast/CondylesFeaturesExtractor.git
[submodule "src/CLI/SurfaceFeaturesExtractor"]
	path = src/CLI/SurfaceFeaturesExtractor
	url = git@github.com:pdedumast/SurfaceFeaturesExtractor.git
